@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div class="container">
  <h1 class="jumbotron">Delete</h1>

  <div class="jumbotron" id="content">
    <h2>Are you sure you want to delete this?</h2>

    <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
    @using (Html.BeginForm())
    {
      <input type="submit" value="Delete" class="btn btn-light" />
    }
    @Html.ActionLink("Back to List", "Index")
  </div>
</div>