@{
    Layout = "_Layout";
}

@model HairSalon.Models.Appointment

<h3>Add a new Appointment</h3><br>

@using (Html.BeginForm())
{
    @Html.TextBoxFor(model => model.Description, new { placeholder = "Description", style = "text-align: center;" } )<br><br>
    <label for="date">Date and Time</label>
    <input type="datetime-local" name="date" id="date">
    
    @Html.LabelFor(model => model.Client)
    @Html.DropDownList("ClientId")<br>

    <input type="submit" value="Add new appointment" class="btn btn-warning" /><br><br>
}
<p>@Html.ActionLink("Show all clients", "Index", "Clients")</p>