a {
  color: black;
  text-decoration: underline;
}

body {
  background-color: rgb(83, 135, 165);
  color: black;
  padding-top: 40px;
}

div.container {
  text-align: center;
}

div#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #CCC;
  background: #333;
  padding: 8px;
}

.jumbotron {
  background: #333;
  color: #CCC;
}

li#stylist {
  list-style-position: inside;
  padding: 10px;
  list-style-image: url(https://img.icons8.com/bubbles/36/barbershop.png);
}

li#client {
  list-style-position: inside;
  padding: 10px;
  list-style-image: url(https://img.icons8.com/office/34/barber-chair.png);
}