@{
  Layout = "_Layout";
}
<div class="container">
  <div class="jumbotron">
    <img src="https://img.icons8.com/neon/2x/experimental-barber-pole-neon.png">
    <h1>Welcome to Eau Claire's Salon</h1>
  </div>
  <p>@Html.ActionLink("See all Stylists", "Index", "Stylists")</p>
  <p>@Html.ActionLink("See all Clients", "Index", "Clients")</p>
  <p>@Html.ActionLink("See all Appointments", "Index", "Appointments")</p>
</div>