@{
  Layout = "_Layout";
}
<div class="container">
  <h1 class="jumbotron">Welcome to Eau Claire's Salon</h1>
  <p>@Html.ActionLink("See all Stylists", "Index", "Stylists")</p>
  <p>@Html.ActionLink("Add new Stylist", "Create", "Stylists")</p>
  <p>@Html.ActionLink("Add new Client", "Create", "Clients")</p>
</div>